<div class="profile">
    <div class="profile-image">
        <img src="/assets/images/profile-picture.gif" alt="Naruto" itemprop="image">
    </div>
    <div class="profile-name">
        <span>Naruto Uzumaki</span>
    </div>
    <div class="profile-bio">
        <p>Never give up! keep going untill the end!</p>
    </div>
    <div class="profile-social">
        <ul>
            <li class="address">
                <a href="#">
                    <i class="fas fa-map-marker-alt"></i>&nbsp;
                    <span>Leaf Village, Naruto Earth</span>
                </a>
            </li>
            <li class="github">
                <a href="https://github.com/Rogeriohsjr">
                    <i class="fab fa-github"></i>&nbsp;
                    <span>Github</span>
                </a>
            </li>
        </ul>
    </div>
</div>