<div class="profile">
    <div class="profile-image">
        <img src="/assets/images/profile-picture.png" alt="Rogerio H. S. Jr." itemprop="image">
    </div>
    <div class="profile-name">
        <span>Rogerio Honorio S. Jr</span>
    </div>
    <div class="profile-bio">
        <p>just a guy.</p>
    </div>
    <div class="profile-social">
        <ul>
            <li class="address">
                <a href="https://www.google.com/maps/place/London,+ON/@42.9487956,-81.3887036,11z/data=!3m1!4b1!4m5!3m4!1s0x882ef20ea88d9b0b:0x28c7d7699a056b95!8m2!3d42.9849233!4d-81.2452768"
                    target="_blank">
                    <i class="fas fa-map-marker-alt"></i>&nbsp;
                    <span>London, Ontario, Canada</span>
                </a>
            </li>
            <li class="github">
                <a href="https://github.com/rogeriohsjr" target="_blank">
                    <i class="fab fa-github"></i>&nbsp;
                    <span>Github</span>
                </a>
            </li>
            <li class="linkedin">
                <a href="https://www.linkedin.com/in/rogeriohsjr" target="_blank">
                    <i class="fab fa-linkedin"></i>
                    &nbsp;<span>LinkedIn</span>
                </a>
            </li>
            <li class="salesforce">
                <a href="https://trailblazer.me/id/rogeriohsjr" target="_blank">
                    <i class="fab fa-salesforce"></i>
                    &nbsp;<span>Salesforce/Trailhead</span>
                </a>
            </li>
        </ul>
    </div>
</div>