.header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #f2f3f3;
    margin-bottom: 20px;
}

.header-container {
    width: 1280px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.header-logo {
    display: inline-block;
    width: 400px;
}

.header-logo a {
    display: block;
    margin: 0 1rem;
    color: #6f777d;
    text-decoration: none;
    align-self: center;
    font-weight: 700;
    font-size: 25px;
    padding-top: 8px;
}

.header-navigation {
    display: inline-block;
    width: 100%;
}

nav.header-menu {
    display: flex;
    justify-content: flex-end;
}

nav.header-menu li.menu-item{
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
}

nav.header-menu li.menu-item a {
    display: inline-block;
    margin: 0 1rem;
    color: #6f777d;
    text-decoration: none;
    font-size: 22px;
}

.header-menu .menu-first-layer{
    margin-right: 20px;
}