.post-container li {
    list-style-type: none;
}

.post-item-header{
    color: #494e52;
    font-size: 22px;
    text-decoration: none;
}

.post-item-header span{
    margin-left: 5px;
    text-decoration: underline;
}