<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://kit.fontawesome.com/4429e6b8aa.js" crossorigin="anonymous"></script>
</head>

<body class="jkbody">
    <div class="header">
        <div class="header-container">
            <div class="header-logo">
                {% include header-logo.html %}
            </div>
            <div class="header-navigation">
                {% include navigation.html %}
            </div>
        </div>
    </div>
    <div class="body">
        <div class="body-container">
            <div class="body-container-left-side-bar">
                {% include left-side-bar.html %}
            </div>
            <div class="body-container-body">
                {% include blog.html %}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-container-body">
                © Copyright 2023, Rogerio H. S. Jr
            </div>
        </div>
    </div>
</body>

</html>